/*  your css code here. If applicable */
.container{
	background-color:gray;
}

#animal-photo{
	display:flex;
	flex-wrap:wrap;
	justify-content:space-around;
	gap:10px;
	padding:10px;
	
}

#animal-photos img{
	width:300px;
	height:auto;
	/* border:2px solid #333; */
	border-radius:10px;
	/* padding:40px; */
	box-shadow: 2px 2px 12px rgba(0,0,0,0.5);
	margin-left:40px;
	
}

#photo-heading{
	text-align:center;
	color:white;
}